# Core
Django == 4.2.8
django-unfold
djangorestframework
djangorestframework-simplejwt

# Database
psycopg2-binary

channels
channels-redis
celery
redis

# Utilities
requests
django_filter
pillow
stripe
firebase-admin
gunicorn
uvicorn[standard]
websockets
django-cors-headers
python-dotenv
PyJWT
cryptography
drf-yasg
whitenoise

# Cloud Storage
cloudinary
django-cloudinary-storage
